{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="container my-3">
        {% for type, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 bg-dark text-white shadow">
                    <div class="card-body">
                        {% if error %}
                            {% if error.messageKey == 'Votre compte a été bloqué par l\'administrateur. Veuillez le contacter pour plus d\'informations.' %}
                                <div class="alert alert-warning">{{ error.messageKey }}</div>
                            {% else %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 text-white">
                                Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-danger">Déconnexion</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                        <form method="post">
                            <label for="inputEmail" class="visually-hidden">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control bg-dark text-white border-secondary mb-3" placeholder="Email" autocomplete="email" required autofocus>
                            <label for="inputPassword" class="visually-hidden">Password</label>
                            <div class="input-group mb-3">
                                <input type="password" name="password" id="inputPassword" class="form-control bg-dark text-white border-secondary" placeholder="Mot de passe" autocomplete="current-password" required>
                                <button type="button" id="togglePassword" class="btn btn-outline-secondary"><i id="eyeIcon" class="bi bi-eye"></i></button>
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" id="rememberMe" name="_remember_me" checked class="form-check-input">
                                <label class="form-check-label" for="rememberMe">Remember Me</label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-danger" type="submit">
                                    Sign in
                                </button>
                                <a href="{{ path('app_register')}}" class="btn btn-lg btn-secondary">Cancel</a>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <a href="{{ path('app_forgot_password_request') }}" class="text-white">Forgot your password ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('togglePassword').addEventListener('click', function() {
            var passwordInput = document.getElementById('inputPassword');
            var eyeIcon = document.getElementById('eyeIcon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('bi-eye');
                eyeIcon.classList.add('bi-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('bi-eye-slash');
                eyeIcon.classList.add('bi-eye');
            }
        });
    </script>
{% endblock %}