{% extends 'baseBack.html.twig' %}

{% block title %}Offres index{% endblock %}

{% block body %}
    <h1>Offres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.tags }}</td>
                <td>{{ offre.prix }}</td>
                <td>
                    <a href="{{ path('app_offres_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offres_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offres_new') }}">Create new</a>
{% endblock %}
