{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    <h1>Offres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ offre.tags }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ offre.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offres_index') }}">back to list</a>

    <a href="{{ path('app_offres_edit', {'id': offre.id}) }}">edit</a>

    {{ include('offres/_delete_form.html.twig') }}
{% endblock %}
