{% extends 'baseBack.html.twig' %}

{% block title %}Liste des abonnements{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success ">
            {{ message }}
        </div>
    {% endfor %}

    <h1 style="text-align: left;" >Liste des abonnements</h1>
    <br>



    <br>
    <table class="table" style="text-align: center;">
        <thead>
        <tr style="text-align: center; vertical-align: middle;">
            <th>ID</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Description</th>

            <th>Date début</th>
            <th>Date fin</th>
            <th>categorie</th>

            <th>Editer</th>
        </tr>
        </thead>
        <tbody id="search-results">
        {% for a in Abonnements %}
            <tr style="text-align: center; vertical-align: middle;">
                <td>
                    {{a.getId()}}
                </td>
                <td>
                    {{a.getNomA()}}
                </td>

                <td>
                    {{a.getDescriptionA()|raw}}
                </td>
                <td>
                    {{a.getPrixA()}} TND
                </td>
                <td>
                    {{a.getDateDebutA()|date("d/m/Y")}}
                </td>
                <td>
                    {{a.getDateFinA()|date("d/m/Y")}}
                </td>
               <td>
                    {{a.categorieAbonnements.getNomCategorie()}}
                </td>


                <td>
                    <div style="text-align: center;">
                        <a href="{{path('Update_Abonnement',{'id':a.id})}}" class="btn btn-warning mt-2" type="submit" >Modifier</a>
                        <a href="{{path('Delete_Abonnement',{'id':a.id})}}" class="btn btn-danger mt-2" type="submit" onclick="return confirm('Etes vous sure ?')">Supprimer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search"></tbody>
    </table>

    <div style="text-align: center;">
        <br>
        <a href="{{path('Create_Abonnement')}}" class="btn btn-primary mt-2" type="submit" style="text-align: center;">Ajouter un abonnement</a>
        <br>
        <br>
        <br>
    </div>
    <script>
        $(function () {
            $('#search-form').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#search-results').html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}