{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <body>
    <!-- Room Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">our plats</h6>
                <h1 class="mb-5">Explore our <span class="text-primary text-uppercase">plats</span></h1>
            </div>
            <div class="row g-4">
                {% for plat in plats %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="{{ asset(plat.image) }}" alt="">
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">{{ plat.nom }}</h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3"></div>
                                <div class="d-flex justify-content-between">
                                    <a href="{{ path('app_pdf', {'id': plat.id}) }}" class="btn btn-primary">view PDF</a>
                                    <a href="{{ path('post_like', {'id': plat.id}) }}" class="btn btn-link js-like">
                                        <i class="far fa-thumbs-up"></i>
                                        <span class="js-likes">{{ plat.likes | length }}</span>
                                        <span class="js-label">J'aime</span>
                                    </a>


                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Nutrifit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#">Nutritionist</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
