{% extends 'baseBack.html.twig' %}

{% block title %}
    Reponse index
{% endblock %}

{% block body %}
<div class="container">
    <div class="reponse-index">
        <h1 class="mb-4">Reponse index</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Contenu Reponse</th>
                    <th>Date Reponse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reponse in reponses %}
                <tr>
                    <td>{{ reponse.id }}</td>
                    <td>{{ reponse.contenuReponse }}</td>
                    <td>{{ reponse.dateReponse ? reponse.dateReponse|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_reponse_back_show', {'id': reponse.id}) }}" class="btn btn-info btn-sm mr-1">Show</a>
                        <a href="{{ path('app_reponse_back_edit', {'id': reponse.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-3">
            <a href="{{ path('app_reponse_back_new') }}" class="btn btn-success">Create New</a>
        </div>
    </div>
</div>
{% endblock %}
