{% extends 'baseBack.html.twig' %}

{% block title %}NutriFit | Activité{% endblock %}

{% block body %}
    <div class="map-data m-b-40">
        <h3 class="title-3 m-b-30">
            <i class="fas fa-table"></i>Gestion Activités</h3>

        <div class="table-responsive m-b-40">
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">Trier Par</option>
                            <option value="">Nom</option>
                            <option value="">Durée</option>
                            <option value="">Difficulté</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter"><i class="zmdi zmdi-filter-list"></i>filters</button>
                </div>
                <div class="table-data__tool-right">
                    <a href="{{ path('app_activite_crud_new') }}">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>
                            Ajouter Activité
                        </button>
                        &nbsp;
                    </a>
                </div>
            </div>
        </div>

        <input type="text" class="form-control" id="searchInput" placeholder="Rechercher Activité&hellip;">
        <br>
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <td style="color: white;"><strong style="margin-left:30px">Nom</strong></td>
                <td style="color: white;"><strong style="margin-left:27px">Durée</strong></td>
                <td style="color: white;"><strong style="margin-left:25px">Difficulté</strong></td>
                <td style="color: white;"></td>
            </tr>
            </thead>
            <tbody>
            {% for activite in activites %}
                <tr>
                    <td>{{ activite.nomActivite }}</td>
                    <td>{{ activite.dureeActivite }}</td>
                    <td>{{ activite.difficulteActivite }}</td>
                    <td>
                        <a href="{{ path('app_activite_pdf', {'id': activite.id}) }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Export">
                                <i class="zmdi zmdi-collection-pdf"></i>
                            </button>
                            &nbsp;
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('app_activite_crud_show', {'id': activite.id}) }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Afficher">
                                <i class="zmdi zmdi-eye"></i>
                            </button>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{{ path('app_activite_crud_edit', {'id': activite.id}) }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        </a>
                        {{ include('activite_crud/delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'activité.</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="card-footer">
            <br>
            <div class="pagination">
                {% do activites.setPageRange(10) %}
                {{knp_pagination_render(activites, 'pagination.html.twig')}}
            </div>
        </div>
    </div>


    <script>
        function filterTable() {
            const filter = document.getElementById('searchInput').value.toUpperCase();
            const rows = document.querySelectorAll('table tr');
            for (let i = 1; i < rows.length; i++) {
                const cols = rows[i].querySelectorAll('td');
                let visible = false;
                for (let j = 0; j < cols.length; j++) {
                    const cell = cols[j];
                    if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break;
                    }
                }
                rows[i].style.display = visible ? '' : 'none';
            }
        }
        document.getElementById('searchInput').addEventListener('keyup', filterTable);
    </script>


{% endblock %}
