{% extends 'base.html.twig' %}

{% block title %}NutriFit | Activité{% endblock %}

{% block tache %}

    <head><style>body{
                /* Created with https://www.css-gradient.com */
                background: #161616;
            }
            h1{
                color:#fff;
            }
            .lead{
                color:#aaa;
            }


              .card{
                  border: none;
                  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                  overflow:hidden;
                  border-radius:20px;
                  min-height:450px;
                  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

                  @media (max-width: 768px) {
                      min-height:350px;
                  }

                  @media (max-width: 420px) {
                      min-height:300px;
                  }

                  &.card-has-bg{
                      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                      background-size:120%;
                      background-repeat:no-repeat;
                      background-position: center center;
                      &:before {
                          content: '';
                          position: absolute;
                          top: 0;
                          right: 0;
                          bottom: 0;
                          left: 0;
                          background: inherit;
                          -webkit-filter: grayscale(1);
                          -moz-filter: grayscale(100%);
                          -o-filter: grayscale(100%);
                          filter: grayscale(100%);}

                      &:hover {
                          transform: scale(0.98);
                          box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
                          background-size:130%;
                          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

                          .card-img-overlay {
                              transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                              background: rgb(255, 33, 33);
                              background: linear-gradient(0deg, rgba(206, 128, 128, 0.5) 0%, rgb(98, 34, 34) 150%);
                          }
                      }
                  }
                  .card-footer{
                      background: none;
                      border-top: none;
                      .media{
                          img{
                              border:solid 3px rgba(255,255,255,0.3);
                          }
                      }
                  }
                  .card-title{font-weight:800}
                  .card-meta{color:rgba(0,0,0,0.3);
                      text-transform:uppercase;
                      font-weight:500;
                      letter-spacing:2px;}
                  .card-body{
                      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);


                  }
                  &:hover {
                      .card-body{
                          margin-top:30px;
                          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                      }
                      cursor: pointer;
                      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                  }
                  .card-img-overlay {
                      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                      background: rgb(255, 33, 33);
                      background: linear-gradient(0deg, rgba(206, 128, 128, 0.5) 0%, rgb(98, 34, 34) 300%);
                  }
              }
            @media (max-width: 767px){

            }</style></head>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 pt-70 text-center">
                    <h2>Activités</h2>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-tittle text-center mb-100">
                    <span>Notre Activités</span>
                    <h2>Séléctionnez l'activité pour plus de données</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for activite in activites %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-dark card-has-bg click-col" style="background-image:url({{ asset(activite.imageActivite) }});">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">{{ activite.nomActivite}}</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="https://creativemanner.com">{{activite.descriptionActivite  }}</a></h4>
                                <small><i class="far fa-clock"></i> {{ activite.dureeActivite}} min</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80" alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                                        <small>Director of UI/UX</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                {% endfor %}
            </div>
           </div >
        <br><br><br><br><br>
        <div class="pagination">
            {% do activites.setPageRange(6) %}
            {{knp_pagination_render(activites, 'pagination.html.twig')}}
            <br><br><br><br><br>
        </div>

    </div>

    </body>
{% endblock %}
