<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{% block title %}NutriFit Dashboard{% endblock %}</title>
    <!--<link rel="icon" type="image/x-icon" href="{{ asset('./BackOffice/images/icon/LogoBlack.ico')}}" />-->

    {% block stylesheets %}
        <!-- Fontfaces CSS-->
        <link href="{{ asset('./BackOffice/css/font-face.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="{{ asset('./BackOffice/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">


        <!-- Vendor CSS-->
        <link href="{{ asset('./BackOffice/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
        <link href="{{ asset('./BackOffice/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="{{ asset('./BackOffice/css/theme.css')}}" rel="stylesheet" media="all">

        <!-- Calendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">


    {% endblock %}

    <style> </style>
</head>


<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="{{path('app_home')}}">
                        <img src="{{ asset('./BackOffice/images/logo/') }} " alt="NutriFit" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="active">
                        <a class="js-arrow" href="{{path('app_home')}}">
                            <i class="fas fa-home"></i>Home</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-user"></i>Utilisateurs</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="#">Ajouter Utilisateur</a>
                            </li>
                            <li>
                                <a href="#">Afficher Utilisateurs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-table"></i>Planning</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="{#  #}{path('app_activite_crud_new')}}">Ajouter Activité</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_activite_crud_index')}}">Afficher Activités</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_planning_crud_new')}}">Ajouter Planning</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_planning_crud_index')}}">Afficher Plannings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-plus"></i>Abonnements</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="#">Ajouter Abonnement</a>
                            </li>
                            <li>
                                <a href="#">Afficher Abonnements</a>
                            </li>
                            <li>
                                <a href="#">Ajouter Pack</a>
                            </li>
                            <li>
                                <a href="#">Afficher Packs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>Offres</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="#">Ajouter Offres</a>
                            </li>
                            <li>
                                <a href="#">Afficher Offres</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-exclamation"></i>Réclamations</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="/reclamation">Afficher Réclamations</a>
                            </li>
                            <li>
                                <a href="/reponse">Afficher Réponse</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="{{path('app_home')}}">
                <img src="{{ asset('./BackOffice/images/logo/') }} " height="90" width="100"  alt="NutriFit" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active">
                        <a class="js-arrow" href="{{path('app_home')}}">
                            <i class="fas fa-home"></i>Home</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-user"></i>Utilisateurs</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="#">Ajouter Utilisateur</a>
                            </li>
                            <li>
                                <a href="#">Afficher Utilisateurs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-table"></i>Planning</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="{#  #}{path('app_activite_crud_new')}}">Ajouter Activité</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_activite_crud_index')}}">Afficher Activités</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_planning_crud_new')}}">Ajouter Planning</a>
                            </li>
                            <li>
                                <a href="{#  #}{path('app_planning_crud_index')}}">Afficher Planning</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-plus"></i>Abonnements</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="#">Ajouter Abonnement</a>
                            </li>
                            <li>
                                <a href="#">Afficher Abonnements</a>
                            </li>

                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>Offres</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="#">Ajouter Offre</a>
                            </li>
                            <li>
                                <a href="#">Afficher Offres</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-newspaper"></i>contenu</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="#">Ajouter Nutrition Plan</a>
                            </li>
                            <li>
                                <a href="#">Afficher Nutrition Plans</a>
                            </li>
                            <li>
                                <a href="#">Ajouter Coaching Plans </a>
                            </li>
                            <li>
                                <a href="#">Afficher Coaching Plans</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-exclamation"></i>Réclamations</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/reclamation">Afficher Réclamations</a>
                            </li>
                            <li>
                                <a href="/reponse">Afficher Réponses</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="{{ asset('./BackOffice/images/icon/avatar-06.jpg')}}" alt=Michelle Moreno />

                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="{{ asset('./BackOffice/images/icon/avatar-04.jpg') }}"  alt="Diane Myers" />

                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="{{ asset('./BackOffice/images/icon/avatar-06.jpg') }}"  alt="Cynthia Harvey" />

                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="{{ asset('./BackOffice/images/icon/avatar-05.jpg') }}"  alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="{{ asset('./BackOffice/images/icon/avatar-04.jpg') }}"  alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="{{ asset('./BackOffice/images/icon/avatar-01.jpg') }}"  alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">john doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{{ asset('./BackOffice/images/icon/avatar-01.jpg') }}"  alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">john doe</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>


<!-- MAIN CONTENT-->
<div class="page-wrapper">
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- START WHITE BACKGROUND-->
                    <div class="map-data m-b-40">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <!-- <div class="copyright">
                        <p>Copyright © 2024 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>




</body>
{% block javascripts %}
    <!-- Jquery JS-->
    <script src="{{ asset('./BackOffice/vendor/jquery-3.2.1.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/jquery-3.2.1.min.js')}}" ></script>
    <!-- Bootstrap JS-->
    <script src="{{ asset('./BackOffice/vendor/bootstrap-4.1/popper.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/bootstrap-4.1/bootstrap.min.js')}}" ></script>
    <!-- Vendor JS-->
    <script src="{{ asset('./BackOffice/vendor/slick/slick.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/wow/wow.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/animsition/animsition.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/counter-up/jquery.waypoints.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/counter-up/jquery.counterup.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/circle-progress/circle-progress.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/perfect-scrollbar/perfect-scrollbar.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/chartjs/Chart.bundle.min.js')}}" ></script>
    <script src="{{ asset('./BackOffice/vendor/select2/select2.min.js')}}" ></script>


    <!-- Main JS-->
    <script src="{{ asset('./BackOffice/js/main.js')}}" ></script>


    <!-- Calendar -->
    <!--<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>-->


    </script>

{% endblock %}

</html>
