{% extends 'baseBack.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <h1>Promotion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodePromotion</th>
                <th>ReductionPromotion</th>
                <th>DateExpiration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.codePromotion }}</td>
                <td>{{ promotion.reductionPromotion }}</td>
                <td>{{ promotion.dateExpiration ? promotion.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_promotion_back_show', {'id': promotion.id}) }}">show</a>
                    <a href="{{ path('app_promotion_back_edit', {'id': promotion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_promotion_back_new') }}">Create new</a>
{% endblock %}
