{% extends 'baseBack.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>CodePromotion</th>
                <td>{{ promotion.codePromotion }}</td>
            </tr>
            <tr>
                <th>ReductionPromotion</th>
                <td>{{ promotion.reductionPromotion }}</td>
            </tr>
            <tr>
                <th>DateExpiration</th>
                <td>{{ promotion.dateExpiration ? promotion.dateExpiration|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promotion_back_index') }}">back to list</a>

    <a href="{{ path('app_promotion_back_edit', {'id': promotion.id}) }}">edit</a>

    {{ include('promotion_back/_delete_form.html.twig') }}
{% endblock %}
